{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <a href="{{ path('task_create') }}" title="Ajouter une nouvelle tâche"
               class="btn btn-success dib mb"
            >
                Créer une nouvelle tâche
            </a>
            <a href="{{ path('task_list') }}" title="Accéder à l'ensemble des tâches"
               class="btn btn-default dib mb pull-right"
            >
                Consulter la liste des tâches
            </a>
        </div>
        <div class="col-sm-12">
            <a href="{{ path('task_list', {'listStatus' : 'undone'}) }}" title="Consulter la liste des tâches à faire"
               class="btn btn-info dib mb"
            >
                Consulter less tâches à faire
            </a>
            <a href="{{ path('task_list', {'listStatus' : 'done'}) }}" title="Consulter la liste des tâches terminées"
               class="btn btn-warning dib mb pull-right"
            >
                Consulter les tâches terminées
            </a>
        </div>
    </div>
{% endblock %}
