{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(view_model.editTaskFormView, {'action' : path('task_edit', { 'id' : view_model.taskId })}) }}
            {{ form_widget(view_model.editTaskFormView) }}
            <button type="submit" id="edit-task" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(view_model.editTaskFormView) }}
    </div>
{% endblock %}
